@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
@font-face {
    font-family: 'Mango Grotesque';
    src: url('fontes/Mango Grotesque-VF.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --android-pale: #c5ebd6;
    --android-light: #84e1ad;
    --android-normal: #33d67c;
    --android-dark: #1A5C38;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--android-light);
}

header{
    background-image: linear-gradient(to top, var(--android-dark), var(--android-normal));
    padding: 1em;
    color: white;
    text-shadow: 1px 1px 3px var(--android-dark);
    text-align: center;
    min-height: 150px;
}

header > p{
    text-align: center;
    font-size: 1.2em;
    max-width: 480px;
    margin: auto;
}

/* direct children */
header > h1{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: white;
}

h1,h2{
    font-family: 'idroid', 'Mango Grotesque',sans-serif;
    color: var(--android-dark);
}

main h1{
    font-size: 2em;
}

main h2{
    background-image: linear-gradient(to right, var(--android-light), transparent);
    padding-left: 0.3em;
}

nav{
    background-color: var(--android-dark);
    font-size: 0.8em;
    font-weight: bold;
    height: 2.5em;
    padding-left: 0.5em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

nav > a{
    color: white;
    text-decoration: none;
    text-shadow: none;
    padding: 10px;
    transition: ease-in-out;
    transition-duration: 150ms;
}

nav > a:hover{
    background-color: var(--android-light);
    color: var(--android-dark);
    text-decoration: none;
    border-radius: 5px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    padding: 1em;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

main p{
    text-align: justify;
    text-indent: 1em;
    line-height: 1.5em;
    margin: 1em 0em;
}

main strong{
    color: var(--android-dark);
    font-weight: bold;
}

aside{
    background-color: var(--android-pale);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

aside > h3{
    background-color: var(--android-dark);
    color: white;
    font-weight: bold;
    /* 1em = 16px */
    padding: 10px;
    margin: -16px -16px 0px -16px;
    border-radius: 5px 5px 0px 0px
}

aside > ul{
    /* Não é compatível com todos os navegadores!! */
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
    margin: 10px;
}

a.externo{
    font-weight: bold;
    color: var(--android-dark);
    text-decoration: none;
    background-color: var(--android-light);
    padding: 2px 5px;
}

a.externo:hover{
    text-decoration: underline;
}

a.externo::after{
    /* \00A0 = código para espaço */
    content: '\00A0\1F517';
}

img{
    width: 100%;
}

.small-img{
    max-width: 300px;
    margin: auto;
    display: block;
    /* transforma a imagem em 
     * block-level para poder
     * alinhar com o margin auto
     */
}

abbr{
    text-decoration: none;
}

div.video{
    position: relative;
    background-color: var(--android-dark);
    height: 0px;
    margin: 0px -1em 15px -1em;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

footer{
    background-color: var(--android-dark);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}